body {
    font-family: helvetica, sans-serif;
    width: 50%;
    margin: 5em 23em;
    background-color: antiquewhite;
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: #ffc125;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
  }

  h1 {
    font-family: Lobster, cursive;
    text-align: center;
    font-size: 3em;
    margin: 1em;
  }